section {
    height: 100vh; /* Make each section take up the full viewport height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#home{
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh;
    padding: 0 20px; /* Add padding to center content */
    box-sizing: border-box;
    text-align: center; /* Center text */
}

footer {
    background-color: #17252A;
    color: #FEFFFF;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure the footer is above other elements */
}

#home, #projects{
    background-color: #3AAFA9;
}

#resume, #contact{
    background-color: #22726e;
}

body {
    margin: 0;
    padding: 70px 0 0; /* Add padding to the top of the body to account for the fixed header */
    font-family: 'Arial Black', sans-serif; /* Change font-family */
}

header {
    background-color: #17252A;
    color: #FEFFFF;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow: hidden; /* Ensure the image doesn't overflow */
    display: flex; /* Added */
    justify-content: space-between; /* Added */
    align-items: center; /* Added */
}

header img {
    width: 100%; /* Make the image fill the width of the header */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper spacing and alignment */
}

header h1 {
    margin: 0; /* Increased top and bottom margin for better spacing */
    font-size: 24px; /* Increased font size for prominence */
    color: #FEFFFF; /* Darkened text color for better readability */
    text-transform: uppercase; /* Convert text to uppercase for a stylish look */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Added text shadow for depth */
    letter-spacing: 2px; /* Increased letter spacing for a modern feel */
    font-family: 'Arial Black', sans-serif; /* Specified font family for consistency */
    flex: 1;
}

h2{
    font-style: oblique;
    font-size: 35px;
    color: #feffff;
}

header p {
    margin: 0; /* Adjusted margin */
    font-size: 14px; /* Reduced font size */
    flex: 1;
}

.intro {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.highlighted-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.project {
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px; /* Adjusted margin */
    padding-right: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #FEFFFF;
    font-weight: bold;
}

nav a:hover {
    color: #3AAFA9;
}

.linkedin-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.linkedin-link:hover {
    transform: scale(1.1); /* Change the scale factor as needed */
}

.linkedin-link img {
    width: 50px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease;
}

.linkedin-link:hover img {
    transform: scale(1.1); /* Change the scale factor as needed */
}
.github-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.github-link:hover {
    transform: scale(1.1); /* Change the scale factor as needed */
}

.github-link img {
    width: 125px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease;
}

.github-link:hover img {
    transform: scale(1.1); /* Change the scale factor as needed */
}
#resume .resume-content {
    text-align: center; /* Center the content horizontally */
}

.resume-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.resume-link:hover {
    transform: scale(1.1); /* Change the scale factor as needed */
}

.resume-link img {
    width: 200px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease;
    border: 4px solid #17252A; /* Border color */
    border-radius: 10px; /* Border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
}

.resume-link:hover img {
    transform: scale(1.01); /* Change the scale factor as needed */
    border-color: #84bed8; /* Change border color on hover */
}

.highlighted-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px; /* Spacing between projects */
}